@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
body {
  background: url(../imagens/1.jpg);
  background-repeat: no-repeat;
  background-position: 50% 70%;
  font-family: 'Inter', sans-serif;
}
header img{
  width: auto;
  display: flex;
  margin: 50px auto;
}
fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  margin: 40px 0;
  text-align: center;
}
form label, form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 15px;
}
.labelform {
  text-shadow:2px 2px 5px #FFF;
  font-size: 17px;
  font-weight: 500;
}
#matricula {
  border: none;
  outline: none;
  margin-top: 5px;
  width: 100%;
  height: 2em;
  border-radius: 8px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.copyright {
  color: white;
  font-size: 14px;
  margin: 20px auto;
}
.copyright a:visited, a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}
/* popup container */
.popup {
  width: 300px;
  margin-top:5%;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
/* o popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #2e89ff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
/* flecha */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2e89ff transparent transparent transparent;
}
/* esconde e mostra o popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
/* anima o popup */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.button__votar{
  width: 15%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  margin: 0.5rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.4s;
  transition: filter 0.4s;
  transition: transform 0.4s;
  background: #2e89ff;
  color: #fff;
}
.button__votar:hover {
  box-shadow: 0 0 10px 0 #43adc5 inset, 0 0 4px 0 #000000;
  transform: scale(0.9);
  cursor: pointer;
}
.button__votar:active {
  transform: scale(0.6);
}
@media screen and (max-width: 320px) {
  body{
   background-position: 45% 60.5%;
  }
  header img{
    width: auto;
    display: flex;
    margin: 50px 28% 100px;
  }
  form{
   margin: 0 0 0 30%;
  }
  .button__votar{
    margin-top: 20px;
    width: 100%;
  }
}