* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../imagens/1.jpg");
  font-weight: bold;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  text-align: center;
}
section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  text-align: center;
}
div.logo {
  content:url("../imagens/logoete2.png");
  background-position: 50%;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
div.creditos {
  width: 10%;
  height: 10%;
  border-radius: 5px;
  position: relative;
  margin-top: 5%;
  margin-left: 80%;
}
div.opcoesform {
  text-align: center;
  align-content: center;
  position: relative;
}
/* popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* o popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
  
/* flecha */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}
  
/* esconde e mostra o popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
  
/* anima o popup */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
  
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
label {
  cursor: default;
  color: #000000;
}
.button__votar{
  padding: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  margin: 0.5rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.4s;
  transition: filter 0.4s;
  transition: transform 0.4s;
  background: #2e89ff;
  color: #fff;
}
.button__votar:hover {
  box-shadow: 0 0 10px 0 #43adc5 inset, 0 0 4px 0 #000000;
  transform: scale(0.9);
  cursor: pointer;
}
.button__votar:active {
  transform: scale(0.6);
}